body{
    background-color: #56aee0;
}
#titulo{
    text-align: left;
    color: #0b0b0c;
    font-family: 'Arial', sans-serif;
    font-size: 39px;
}
#subtitulo{
    text-align: left;
    color: #19191a;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
}