/* codigo terminado */
body {
    background-color: papayawhip;
}
#titulo {
    text-align: center;
    color: blue;
    font-style: italic;
}
#subtitulo {
    text-align: center;
    color: darkblue;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
#cartaz {
    height: 200px;
}
#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
button {
color: blue;
border: solid 2px rgb(75, 70, 70);
font-size: 20px;
border-radius: 12px;
background-color: rgb(204, 202, 202);
}
#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 197, 197);
    border: solid 2px rgb(124, 120, 120);
    text-align: center;
    cursor: pointer;
}
#about {
    color: red;
    text-decoration: underline;
    cursor: help;
    text-align: center;
    margin-bottom: 100px;
}
@media screen and (min-widht: 800px) {
    #cartaz {
        width: 700px;
}
#about {
    margin-bottom: 0px;
}
}
#texto-aleatorio {
    text-align: center;
    color: darkblue;
}